/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  margin: 0;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  color: #453e4f;
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #453e4f;
}

p {
  font-size: 1em;
  width: 95%;
}

figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

/* Header and Navbar */
header {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

header .content-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
}

.logo {
  padding: 30px 0;
}

.logo img {
  height: auto;
  width: 65%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 12px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  padding-right: 15%;
  cursor: pointer;
  z-index: 2;
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #453e4f;
}

.nav-wrapper {
  display: none;
}

.nav-wrapper.active {
  display: block;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

header h1,
header h2 {
  color: #453e4f;
  width: 98%;
}

header h2 {
  padding-top: 15px;
}

span {
  font-size: 1.15em;
}

/* Concept Button */
.button {
  display: flex;
}

.concept-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90faae;
  border: 1px solid #453e4f;
  border-radius: 15px;
  width: 100%;
  height: 2em;
  font-size: 1.25em;
  text-transform: uppercase;
  padding: 20px;
  color: #453e4f;
}

.concept-button:hover {
  background-color: #351d77;
  color: #fff;
}

/* Services */
.services .content-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0 60px 0;
}

.services-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  padding-bottom: 20px;
}

.service-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 12px 30px;
  width: 100%;

  text-transform: uppercase;
  font-size: 1.125em;
  background-color: #351d77;
  color: #fff;
  border-radius: 15px;
}

.service-link a {
  width: 100%;
}

.service-link:hover {
  background-color: #d4d3e9;
  color: #351d77;
}

/* Meet the team */
.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 60px 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.team-section h2 {
  font-size: 1.5em;
  margin-bottom: 40px;
  color: #453e4f;
}

.team-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.team-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 100%;
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-10px);
}

.team-photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.team-info {
  padding: 20px;
}

.team-info h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #453e4f;
}

.team-info p.team-role {
  font-size: 1em;
  color: #757575;
}

/* Collapsible Paragraph Styling */
.team-description {
  font-size: 0.9em;
  line-height: 1.4em;
  max-height: 4.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
}

.team-description.expanded {
  max-height: fit-content;
  text-align: start;
}

.see-more {
  background-color: transparent;
  border: none;
  color: #90faae;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.see-more:hover {
  color: #453e4f;
}

/* About */
.about .content-wrapper {
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  font-size: 1em;
}

.about-pic {
  display: flex;
  justify-content: center;
}

.about-pic img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* Contact Section */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  background-color: #d6e5f7;
}

.contact .content-wrapper {
  padding-left: 20px;
}

.contact h2,
.contact p {
  margin-bottom: 40px;
  color: #453e4f;
  width: 95%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
}

.form-group label {
  font-size: 1em;
  margin-bottom: 5px;
  color: #453e4f;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #453e4f;
  background-color: #d6e5f7;
}

.submit-button {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  width: 100%;
  font-size: 1.2em;
  color: #453e4f;
  background-color: #90faae;
  border: 1px solid #453e4f;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #76e195;
}

.success-message {
  margin-top: 20px;
  font-size: 1.2em;
  color: #28a745; /* Green color for success */
  visibility: hidden; /* Initially hidden */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.success-message.visible {
  visibility: visible;
  opacity: 1;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media all and (min-width: 768px) {
  /* Style adjustments for viewports that meet the condition */

  /* Navbar */
  .hamburger {
    display: none;
  }

  header {
    height: 500px;
  }

  .nav-wrapper {
    display: flex;
  }

  header nav ul li a {
    padding: 10px;
  }

  header nav ul li a:hover {
    background-color: #f48edc;
    border-radius: 15px;
  }

  header h2 {
    padding-top: 8%;
  }

  /* Concept Button */
  .concept-button {
    font-size: 1.5em;
    height: 1.5em;
  }

  /* Services */
  .services .content-wrapper {
    padding: 80px 0;
  }

  .services h2 {
    padding-top: 0;
  }

  .services-list {
    display: flex;
  }

  /* Meet the team */
  .team-section .content-wrapper {
    display: flex;
    align-items: center;
    padding: 80px 0;
  }

  .team-cards {
    gap: 20px;
  }

  .team-section h2 {
    margin-top: 0;
  }

  .team-photo {
    height: 400px;
  }

  /* About */
  .about .content-wrapper {
    padding: 80px 0;
  }

  .about h2 {
    padding-bottom: 60px;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  .about-text {
    padding: 40px;
  }

  .about h2 {
    margin: 0;
  }

  /* Contact Us */
  .contact {
    background-color: #d6e5f7;
  }

  .contact .content-wrapper {
    display: flex;
    align-items: center;
  }

  .contact-form {
    width: 70%;
  }

  label,
  input {
    background-color: #d6e5f7;
  }
}

@media all and (max-width: 767px) {
  .nav-wrapper {
    position: absolute;
    top: 60px;
    left: 160px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  .nav-wrapper ul {
    flex-direction: column;
  }

  .nav-wrapper ul li {
    margin: 10px 0;
  }

  .nav-wrapper ul li a {
    font-size: 1.5rem;
    color: white;
  }
}

@media all and (min-width: 1200px) {
  /* Navbar */

  header {
    height: 700px;
  }

  .nav-wrapper {
    display: flex;
  }

  header nav ul li a {
    padding: 10px;
  }

  header nav ul li a:hover {
    background-color: #f48edc;
    border-radius: 15px;
  }

  header h1 {
    font-size: 2em;
  }

  header h2 {
    font-size: 3em;
    padding-top: 15%;
  }

  span {
    font-size: 3.5rem;
  }

  /* Concept Button */
  .concept-button {
    font-size: 1.5em;
    height: 1.5em;
  }

  /* Services */
  .services .content-wrapper {
    padding: 80px 0;
  }

  .services h2 {
    padding-top: 0;
  }

  .services-list {
    display: flex;
  }

  /* Meet the team */
  .team-section .content-wrapper {
    display: flex;
    align-items: center;
    padding: 80px 0;
  }

  .team-cards {
    gap: 60px;
  }

  .team-section h2 {
    margin-top: 0;
  }

  .team-photo {
    height: 400px;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
